/* VideoCall.module.css */

/* Main Container */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: white;
}

.icon {
  margin: 20px 0;
  cursor: pointer;
}

.profile {
  margin-top: auto;
}

/* Video Call Container */
.videoCallContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

/* Header */
.videoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.arrowButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

/* Meeting Controls */
.meetingControls {
  display: flex;
}

.leaveMeetingButton {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px; /* Added for a polished look */
}

/* Video Display */
.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc; /* Gray background for video container */
}

.video {
  width: 45%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px; /* Added for a more refined appearance */
}

/* Controls */
.controls {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #333;
}

.controlButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px; /* Increased for better visibility */
}

.whiteButton {
  color: white;
}

/* Notifications */
.notifications {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
}

.notification {
  margin-bottom: 5px;
}


.modal {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmButton, .cancelButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.confirmButton {
  background-color: green;
  color: white;
  margin-right: 10px;
}

.confirmButton:hover {
  background-color: darkgreen;
}

.cancelButton {
  background-color: red;
  color: white;
}

.cancelButton:hover {
  background-color: darkred; 
}
